@import url('https://fonts.googleapis.com/css2?family=Playfair Display:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&display=swap');


.fluid-container {
    overflow-y: auto;
}

#background {
    position: absolute;
    width: 54%;
    height: 100%;
    left: 0px;
    top: 0px;
    
    background: #F1EEE3;
}

#left-side {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 46%;
    height: 100%;
}
#vertical-line {
    position: absolute;
    width: 869px;
    height: 0px;
    left: -22rem;
    top: 14rem;

    border: 1.3px solid #000000;
    opacity: 0.3;
    transform: rotate(90deg);
}
  

#welcome-text {
    position: absolute;
    width: auto;
    height: auto;
    left: 7.2rem;
    top: 4rem;

    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 3rem;
    /* identical to box height */

    text-align: left;

    color: #000000;
}

#button {
    position: absolute;
    width: 205px;
    height: 48px;
    left: 7.2rem;
    top: 20rem;
}

#desc {
    position: absolute;
    width: 425px;
    height: 72px;
    left: parent;
    padding-top: 1rem;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #6D6D6D;
}

#book-list {
    position: absolute;
    display: flex;
    flex-direction: row;
}

#book-list>#title {
    position: absolute;
    width: 106px;
    height: 32px;
    left: 141px;
    padding-top: 26rem;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
/*Finish Today: 12 June 23*/
#book {
    display: flex;
    flex-direction: row;
    margin-left: 37rem;
}

#book-image {
    position: relative;
    transform: scale(0.8);
    filter: drop-shadow(-16px 18px 40px rgba(0, 0, 0, 0.25));
}

#book-description {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}
#book-title>p {
    position: relative;
    padding-left: 1rem;
    width: 22rem;

    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 28px;
    line-height: auto;
    text-align: justify;
    line-height: 2.875rem;

    color: #000000;
}

#book-page {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-top: 1rem;
}

#book-page>p {
    padding-right: 0.4rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #444444;
}

#current-page {
    color: #D15359 !important;
}

#book-quote {
    position: relative;
    padding-left: 1rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #6D6D6D;
}

#book-details {
    display: flex;
    flex-direction: row;
    margin-left: 63%;
    padding-top: 1rem;
    width: auto;
}

#book-details>div {
    padding-right: 4rem;
}

