@import url("https://fonts.googleapis.com/css2?family=Playfair Display:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;500&display=swap");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/arrow-long-right.css");

#background {
  background-color: #f1eee3;
  width: 61%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

/* #sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1.2px solid #000000;
  height: 100vh;
  position: fixed;
  width: 6rem;
}
#sidebar > div > #Link > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4.3rem;
  width: 4.3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #000000;
}
#sidebar > div > #Link > span:hover {
  border-radius: 50%;
  background-color: #d15359;
  color: #ffffff;
}
#Home.active,
#Search.active {
  border-radius: 50%;
  background-color: #d15359;
  #Link > span {
    color: #ffffff;
  }
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  padding-left: 8rem;
}
header > #date,
#account {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #545454;
}
header > #account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-right: 2rem;
}
header > #account > #profile-pic {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-color: #000000;
  border-radius: 50%;
  margin-right: 8px;
} */
#hero {
  padding-left: 8rem;
}
#hero > #title {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  width: 30rem;
}
#hero > #description {
  padding-top: 8px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  width: 30rem;
  padding-bottom: 32px;
}
#hero > #button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 12rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 20px;
}
#hero > #button:hover {
  background-color: #d15359;
  width: 13rem;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  cursor: pointer;
}
#section1 > #title {
  padding-top: 32px;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  padding-left: 8rem;
}
#section1 > #book-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 8rem;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 46rem;
}
#section1 > #book-list > #card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 140px;
  height: 300px;
  border-radius: 8px;
}
#section1 > #book-list > #card > #cover {
  width: 140px;
  height: 212px;
  background-size: cover;
}
#section1 > #book-list > #card > #name {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  padding-top: 16px;
}
#section2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 10%;
  left: 48%;
}
#section2 > #current-read {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 40.7rem;
  height: 320px;
}
#section2 > #current-read > #cover {
  width: 255px;
  height: 400px;
  scale: 0.7;
  background-size: cover;
  box-shadow: -16px 18px 40px 0px rgba(0, 0, 0, 0.25);
}
#section2 > #current-read > #description {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
#section2 > #current-read > #description > #title {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  width: 20rem;
  padding-bottom: 32px;
}
#section2 > #current-read > #description > #progress {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  width: 20rem;
  color: #545454;
}
#section2 > #current-read > #description > #progress span:nth-child(1) {
  color: #d15359;
}

#section2 > #current-read > #description > #quotes {
  font-family: "Inter", sans-serif;
  padding-top: 24px;
  font-size: 14px;
  width: 20rem;
}
#section2 > #current-read-details {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  width: 40.7rem;
  padding-left: 12rem;
  padding-top: 12px;
}
#section2 > #current-read-details > #book-details,
#values {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-right: 24px;
}
#section2 > #current-read-details > #book-details > p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #545454;
}
#section2 > #current-read-details > #values {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #000000;
}
